<svg style="display: none">
  <symbol id="icon-caret" viewBox="0 0 10 6">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
  </symbol>
</svg>

<cart-notification tabindex="-1" class="color-{{ section.settings.color_scheme }} gradient">
  <div id="mini-cart-drawer">
    {% render 'mini-cart-drawer-details' %}
  </div>
</cart-notification>
