<quick-view-modal>
  <button aria-haspopup="dialog" type="button" class="button button--medium" data-product-handle="{{ product_card_product.handle }}" aria-label="quick view">
    {{ 'products.product.select_options' | t }}
  </button>
</quick-view-modal>

